asgiref==3.4.1
astroid==2.4.2
autopep8==1.5.7
boto3==1.21.3
botocore==1.24.3
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==5.5
decorator==5.0.9
distlib==0.3.4
Django==4.0.1
django-adminlte3==0.1.6
django-crispy-forms==1.14.0
django-jazzmin==2.4.9
django-sms==0.5.0
django-storages==1.12.3
et-xmlfile==1.1.0
filelock==3.4.2
future==0.18.2
greenlet==1.1.0
idna==3.3
ipython-genutils==0.2.0
isort==5.6.4
jmespath==0.10.0
lazy-object-proxy==1.4.3
logger==1.4
mccabe==0.6.1
memoized==0.3
messagebird==2.0.0
mysql-connector==2.2.9
mysql-connector-python==8.0.24
mysql-connector-python-rf==2.2.2
mysql-connector-repackaged==0.3.1
numpy==1.20.3
openpyxl==3.0.7
package-name==0.1
pandas==1.2.4
Pillow==8.2.0
platformdirs==2.4.1
protobuf==3.16.0
py-mysql-connector==0.1
pycodestyle==2.7.0
PyJWT==2.3.0
pylint==2.6.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.27.1
s3transfer==0.5.1
six==1.15.0
somepackage==1.2.3
sql-connectors==1.0.2
SQLAlchemy==1.4.18
sqlite-connector==0.1.0
SQLite3Database==0.2.0
sqlparse==0.4.1
toml==0.10.2
traitlets==5.0.5
twilio==7.6.0
urllib3==1.26.8
virtualenv==20.13.0
wrapt==1.12.1
xlrd==2.0.1
