{% extends "base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}
{% block content%}
<section class="md:h-full bg-white  flex flex-row items-center text-gray-600" style="height:1050px;">
    <br/>
    <br/>
    <div class="justify-center w-full border-r-lg shadow-r-xl bg-gradient-to-r from-black to-green-600">
        <br/>
        <div align="center"class="">
            <form method="POST" class="justify-center hover:rounded-xl hover:shadow-xl p-4">
                {% csrf_token %}
                <fieldset >
                    <h1 class="mb-5 text-center text-2xl text-white">Login | Gnacofa Member Register Page</h1>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn p-2 rounded-lg mt-5 shadow-lg bg-green-600 hover:bg-green-900 text-white">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted" style="color: red; font-size:15px;   ">
                    <span class="text-danger">*</span>Please, if you have any problem logging in, contact your supervisor
                </small>
            </div>
        </div>
    </div>
    <div class=" justify-center h-full">
        <img src="{% static 'workimg/imgs/login.jpg'%}" class="w-full h-full" alt="">
    </div>
</section>
{%endblock%}