{% extends "base.html"%}
{% block title%} Secretary{% endblock%}
{% block content%}
<div class="secretary-home">
    <section class="container">
        <div>
        <br>
            <div id="header">
                <div style="font-size: 20px;">
                    <p><span>Welcome</span> Kwame</p>
                </div>
            </div>
            <div style="padding:30px;" class="row">
                <div style="border-right: 1px solid green; height: 300px;" class="col-2">
                    <button type="button" class="btn btn-dark"  style="width: 150px; margin-top: 5px;">Show Tabs</button>
                    
                    <button type="button" class="btn btn-dark"  style="width: 150px; margin-top: 5px;" onClick = "showTabs()">View Members</button>
                </div>


                <div style = "margin-left:120px;" id="TabsShow" class="col">
                    <div class="row">
                        <div class="col-3">
                            <button type="button"  id="butt"><a  style="text-decoration:none; color: white; font-size: 18px;" href="/">add Executive</a></button>
                        </div>

                        <div style = "margin-left:50px;"class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a  style="text-decoration:none; color: white;font-size: 18px;" href="/membership">add Member</a></button>
                        </div>

                        <div style = "margin-left:50px;" class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a style="text-decoration:none; color: white;font-size: 18px" href="/">View Member</a></button>
                        </div>                        
                    </div>


                    <hr style="color:white;">

                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a style="text-decoration:none; color: white;" href="/loan">Loan</a></button>
                        </div>
                        <div style = "margin-left:50px;"class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a style="text-decoration:none; color: white;" href="/dues">Dues</a></button>
                        </div>
                        <div style = "margin-left:50px;" class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a style="text-decoration:none; color: white;" onchange='events()' id="evebutts" href="/events">Events</a></button>
                        </div>                        
                    </div>

                    <hr style="color:white;">
                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a                    style="text-decoration:none; color: white;" href="/news">News</a></button>
                        </div>
                        <div style = "margin-left:50px;"class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"><a                    style="text-decoration:none; color: white;" href="/media">Upload Media@</a></button>
                        </div>
                        <div style = "margin-left:50px;" class="col-3">
                            <button type="button" class="btn btn-dark" id="butt"eight:10em;"><a          style="text-decoration:none; color: white;" href="/"></a></button>
                        </div>                        
                    </div>
                    <br>
                    <!------------------------form-events----------------------------------------->
                    <!---------------------------------------------------------------------------->
                    <div id="form-eve" style="display:nonee;" >
                        <div  class="forms-events">
                            <form class="row">
                                <label style="font-family:'Courier New', Courier, monospace;color: red; font-size:20;">Events</label>
                                <input type="text" name="title" placeholder="Title of Events"/><br>
                                <textarea style="font-family:'Courier New', Courier, monospace;font-size:15px; width: 910px;height:400px;" name="data"></textarea>
                                <input type="date" name="date" datepicker />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
    </section>
    <section></section>
</div>
{%endblock%}