{% extends "base.html"%}
{% load static %}
{% block title%} About Us{% endblock%}
{% block content%}
<section class="bg-white p-2">
    <br/>
    <br/>
    
    <div class="p-2 container mx-auto  flex flex-wrap gap-6">
        <!-- General About us -->
        
        <div class="text-black ml-10" style="width:950px;">
            <h1 class="text-2xl mb-5 text-green-600 text-center">About Us</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500">Introduction</h1>
                <img src="{% static 'workimg/imgs/logo2.png'%}" alt="" class="float-left opacity-25 bg-black mr-3 rounded-2xl " width="15%">
                GNACOFA seeks an investment amount of money to implement Agro Chemical Input, sustainable Housing Scheme program, advance Soft Loans (Credit Union) to its * members, establish Factories Projects in the cocoa growing communities some years and also embark upon a Mobile Health Screening program as motivation for cocoa farmers in the cocoa growing communities
                The Association has been incorporated and * registered with the Register General Department as NGO. GNACOFA has obtained Co-operative Credit Union operational license for its Ghana National Cocoa Farmers' Co-operative Credit Union Limited. <br><br>
                Ghana National Cocoa Farmers Association (GNACOFA) was formed to serve as the voice of the ordinary small holder cocoa farmer in Ghana. The Association was also formed to bring together all cocoa farmers in the country asa common front to champion a common goal to protect their interest towards positive growth and development.<br><br>
                Cocoa farmers are confronted with a lot of challenges such as lack of access to credit facilities, housing facilities and quality agro inputs to maintain and expand their farms etc. Thus, many cocoa farmers borrow from private money lenders at very high interestrate of about 100% which is very difficult to repay. They also purchase unapproved and substandard agro chemicals from illegal dealers which are poisonous and have negative effects on the cocoa plant. This is because government interventions are inadequate to all their farms.<br><br>
                Another issue of concern, is lack of affordable housing for cocoa farmers. In Ghana, there is no affordable housing scheme in Ghana that supports the ordinary small holder cocoa farmer. Thus, most cocoa farmers retire from active farming and do not have good place to lay their heads. Others have to borrow at high interest rate before they could put up decent place for themselves. Due to the seasonal nature of cocoa farming in Ghana, cocoa farmers do not have stable cash ow throughout the year. They have low income during the lean season and high income in the major season.

                

                Current average cocoa yield is estimated around 0.3 tonnes/ha as against the potential yield of 1.0 to 1.5 tonnes/ha.

                Thus, cocoa farmers usually do not have the nancial muscle to pay for labour, purchase all the agro inputs they need for their farms, and build decent accommodation for themselves. This is why GNACOFA was formed to be the voice of cocoa farmers, champion their interest and embark on sustainable programs that will bring improvement in the lives of cocoa farmers in Ghana.
            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Mission</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                GNACOFA's mission is to bring together all cocoa farmers un Gghana and provide a platform for Cocoa farmers to voice out their concerns and initiate development oriented activities to improve the livelihood of the Ghanaian Cocoa farmer.
            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Vision</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                GNACOFA's vision is to become the preferred Association for all cocoa farmers in Ghana and the preferred partner in all issues that affect the growth and development of cocoa farmers of the Ghanaian community.
            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Aims & Objectives</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                We aspire to help and serve the Ghanain Cocoa Farmers as such, below are the listed  aims and objects of outlined by the Association.
                <div class="p-5 mr-8">
                    <dl class="text-black w-full  mr-10">
                        <li class="text-black w-full">To foster unity and friendship among members of the association</li>
                        <li class="text-black w-full">To seek welfare of its members</li>
                        <li class="text-black w-full">To promote the growth of cocoa production and advance the development in cocoa growing communities in the country</li>
                        <li class="text-black w-full">To solicit for support from the Goernment, NGO's,Private Institutions and Developmental Agencies to implement livelihood empowerment programmes</li>
                        <li class="text-black w-full">To train members on Good Agricultural Practices (GAP), Integrated Pest Management (IPM), Good Environmental Practice (GEP) and new agricultural techniques to help improve the cocoa production in the country</li>
                        <li class="text-black w-full">To implement cocoa sustainability programm that will lead to improvement in the livelihood of its members and all farmers in Ghana.</li>
                    </dl>
                </div>
            </article>
        </div>
        <div class="border border-l-2 border-red-600"></div>
        <div class="p-2" style="width:350px">
            <div class="mb-5 rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Regional Links </h1>
                </div>
                <div class="p-2 w-64 h-96">
                   <div class="">
                        <div class="ml-5 list-none">
                            <li class="list"><a class="hover:text-gray-500" href="#">Ashanti Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Bono Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Bono-East Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western Rgion</a></li>
                            <hr>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western North Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Volta Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Oti Rgion</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Central Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Northern Region</a></li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Twitter Feesds</h1>
                </div>
                <div class="p-2 w-full h-96">
                    <a href="https://twitter.com/intent/tweet?screen_name=kwame_Av&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @kwame_Av</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="mb-5  rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Galleries</h1>
                </div>
                <div class="p-2 w-full grid  gap-1 grid-cols-3">
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44 hover:" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/nursing.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/school.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>

                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                </div>
                <div class="rounded-md bg-green-500 shadow-lg">
                    <h1 class="text-white text-center"><a class="hover:text-red-700" href="#"> >> proceed to view More .... <<< </a></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="p-2"></div>
</section>
{%endblock%}

