{% extends "base.html"%}
{% load static %}
{% block title%} Our-Structure {% endblock%}
{% block content%}
<section class="bg-white p-2">
    <br/>
    <br/>
    
    <div class="p-2 container mx-auto  flex flex-wrap gap-6">
        <!-- General About us -->
        
        <div class="text-black ml-10 " style="width:950px;">
            <h1 class="text-2xl mb-5 text-green-600 text-center">About Us</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500">Introduction</h1>
                    ORGANOGRAM OF OFFICE OF THE HEAD OF LOCAL GOVERNMENT SERVICE (OHLGS) 
                ORGANISATIONAL MANUAL FOR OFFICE OF THE HEAD OF LOCAL GOVERNMENT SERVICE  (OHLGS)
                INTRODUCTION
                The Organisational Manual has been prepared to provide information on the structure of the Office of the Head of Local Government Service (OHLGS).  It also outlines activities that the various Directorates and Units of the Secretariat perform, staff requirements, job descriptions as well as qualifications and reporting relationships amongst all post holders.  The Manual thus provides the demarcation of authorities, duties and responsibilities of the various Directorates and Units within the OHLGS, for ensuring the effective and efficient operation of the Secretariat.

                OBJECTIVE OF THE SERVICE

                The objective of the Service is to secure the effective administration and management of local Government in the country.

                CORE VALUES

                Accountability, Client-oriented, Creativity, Diligence, Discipline, Equity, Integrity, Innovativeness, Timeliness and Transparency

                GOAL

                To improve delivery of quality of service through the appointment, development and promotion of adequate numbers of competent staff in their right mix to fill vacancies at the national, regional and district levels.

                STRUCTURE

                

            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Mission</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                GNACOFA's mission is to bring together all cocoa farmers un Gghana and provide a platform for Cocoa farmers to voice out their concerns and initiate development oriented activities to improve the livelihood of the Ghanaian Cocoa farmer.
            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Vision</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                GNACOFA's vision is to become the preferred Association for all cocoa farmers in Ghana and the preferred partner in all issues that affect the growth and development of cocoa farmers of the Ghanaian community.
            </article>

            <h1 class="text-2xl mt-5 mb-2 text-red-500">Our Aims & Objectives</h1>
            <article>
                <h1 class="text-xl justify-center text-red-500"></h1>
                We aspire to help and serve the Ghanain Cocoa Farmers as such, below are the listed  aims and objects of outlined by the Association.
                <div class="p-5 mr-8">
                    <dl class="text-black w-full  mr-10">
                        <li class="text-black w-full">To foster unity and friendship among members of the association</li>
                        <li class="text-black w-full">To seek welfare of its members</li>
                        <li class="text-black w-full">To promote the growth of cocoa production and advance the development in cocoa growing communities in the country</li>
                        <li class="text-black w-full">To solicit for support from the Goernment, NGO's,Private Institutions and Developmental Agencies to implement livelihood empowerment programmes</li>
                        <li class="text-black w-full">To train members on Good Agricultural Practices (GAP), Integrated Pest Management (IPM), Good Environmental Practice (GEP) and new agricultural techniques to help improve the cocoa production in the country</li>
                        <li class="text-black w-full">To implement cocoa sustainability programm that will lead to improvement in the livelihood of its members and all farmers in Ghana.</li>
                    </dl>
                </div>
            </article>
        </div>
        <div class="border border-l-2 border-red-600"></div>
        <div class="p-2" style="width:350px">
            <div class="mb-5 rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Regional Links </h1>
                </div>
                <div class="p-2 w-64 h-96">
                   <div class="">
                        <div class="ml-5 list-none">
                            <li class="list"><a class="hover:text-gray-500" href="#">Ashanti Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Bono Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Bono-East Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western Rgion</a></li>
                            <hr>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Western North Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Volta Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Oti Rgion</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Central Region</a></li>
                            <hr/>
                            <li class="list"><a class="hover:text-gray-500" href="#">Northern Region</a></li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5 rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Twitter Feesds</h1>
                </div>
                <div class="p-2 w-full h-96">
                    <a href="https://twitter.com/intent/tweet?screen_name=kwame_Av&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @kwame_Av</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="mb-5  rounded-lg shadow-lg">
                <div class="p-2 w-full bg-gradient-to-r from-black to-red-900">
                    <h1 class="text-white text-center text-lg"> Galleries</h1>
                </div>
                <div class="p-2 w-full grid  gap-1 grid-cols-3">
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/nursing.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/school.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>

                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                    <div class="">
                        <img src="{% static 'workimg/imgs/gard.jpg'%}" class="w-32 h-44" width="3%"/>
                    </div>
                </div>
                <div class="rounded-md bg-green-500 shadow-lg">
                    <h1 class="text-white text-center"><a class="hover:text-red-700" href="#"> >> proceed to view More .... <<< </a></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2"></div>
    <div class="p-2"></div>
</section>
{%endblock%}