{% extends "base.html" %} 
{% block title %}Member Page{% endblock %} 
{% block content%}

<div class="memarea">
    <br>

      <div class="melab">
        <h5 style="color: red; margin-left: 20px; font-size:15px;text-align:left">welcome to GNACOFA MEMBER PORTAL</h5>
        <article style="margin-left:20px;">This page is the membership page for all it's members only</article>
      </div>
    <br>

<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">

      <div class="row" style=" border-radius: 15px; width:950px; margin-left: 75px; line-height: 40px;">
      </div>
      <div class="row">
          <div class="details1">                      
            <div class="profiledisplay">
                <img class="avatar" src="{{member.profile_pic}}" alt="   GFX{{member.gfxNumber}} Profile Picture is Here"/>
                <div class="avatar-text">
                  <h6 style="color:green; margin-left:10px;">GFX NUMBER: <label style="color: brown;font-size:18px;"> GFX {{member.gfxNumber}}</label></h6>
<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">
                  <h6 style="color:green; margin-left:10px;">REGION: <label style="color: brown;font-size:18px;"> {{member.Region}}</label></h6>
<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">
                  <h6 style="color:green; margin-left:10px;">DISTRICT: <label style="color: brown;font-size:18px;"> {{member.District}}</label></h6>
<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">
                  <h6 style="color:green; margin-left:10px;"> SOCIETY: <label style="color: brown;font-size:18px;"> {{member.Society}}</label></h6>
<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">
                </div>
                <br>
                <br>
                <p class="logoutlab"><a class="log-link"href="/logout"><i class="fas fa-sign-in-alt"></i>Logout</a></p>
            </div>
            <div class="dues-display">
                    <p style="color: white; text-align: center; font-size:15px; background-color:green; border-radius: 15px;;">DUES PAID</p>
                    <table class="table">
                      <thead>
                        <th>Date</th>
                        <th>Month</th>
                        <th>Amount(GHC)</th>
                        <th>Cashier</th>
                      </thead>
                      <tbody>
                        {% for Dues in member.dues%}
                        <tr>
                          <td>{{member.date}}</td>
                          <td>{{member.month}}</td>
                          <td>{{member.amount}}</td>
                          <td>{{member.cashier}}</td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
              </div>
          </div>
          <div class="details2">   
            <div class="row-style1">
              <div class="row">
                    <div class="cont-inn1">
                        <h6 class="cont-p">Title  :</h6>
                        <h6 class="cont-p">FIRST NAME  : </h6>
                        <h6 class="cont-p">LAST NAME  : </h6>
                        <h6 class="cont-p">MIDDLE NAME  : </h6>
                        <h6 class="cont-p">GENDER NAME  : </h6>
                        <h6 class="cont-p">MARITAL STATUS  : </h6>
                        <h6 class="cont-p">DATE OF BIRTH  : </h6>
                        <h6 class="cont-p">HOME TOWN  : </h6>
                        <h6 class="cont-p">TYPE OF ID CARD  : </h6>
                        <h6 class="cont-p">ID NUMBER  : </h6>
                        <h6 class="cont-p">EDUCATIONAL LEVEL  : </h6>
                        <h6 class="cont-p">ADDRESS  : </h6>
                        <h6 class="cont-p">TELEPHONE NUMBER  : </h6>
                        <h6 class="cont-p">SPOUSE NAME  : </h6>
                        <h6 class="cont-p">NEXT OF KIN  : </h6>
                        <h6 class="cont-p" >FAMILY SIZE  : </h6>
                        <h6 class="cont-p"> NUMBER OF PARTNERS  : </h6>
                        <h6 class="cont-p"> NUMBER OF FARMS  : </h6>
                        <h6 class="cont-p">FARM LOCATION  : </h6>
                        <h6 class="cont-p">YEARS IN FARMING  : </h6>
                        <h6 class="cont-p">BUSINESS BEFORE FARMING  : </h6>
                        <h6 class="cont-p">ANY OTHER SUPPORTING BUSSINESS  : </h6>
                        <h6 class="cont-p">NUMBER OF LABOURERS  : </h6>
                        <h6 class="cont-p">OWNERSHIP OF FARM  : </h6>
                        <h6 class="cont-p">AVERAGE CROP YIELD  : </h6>
                        <h6 class="cont-p">BENEFITS FROM YOUR FARM  : </h6>
                        <h6 class="cont-p">PURCHASER OF YOUR PRODUCE (COCOA)  : </h6>
                        <h6 class="cont-p"> BENEFITS FROM BUYER  : </h6>
                        <h6 class="cont-p">ANY BANK TRANSACTING WITH (NAME)  : </h6>
                        <h6 class="cont-p">DURATION (HOW LONG)  : </h6>
                        <h6 class="cont-p">ANY FINANCIAL ASSOC.  : </h6>
                        <h6 class="cont-p">PART OF FINANCIAL ASSOCIATION  : </h6>
                    </div>
                    <div class="cont-inn2">
                      <p class="jinja-text">{{member.Title}}</p>
                      <p class="jinja-text">{{member.first_name}}</p>
                      <p class="jinja-text">{{member.last_name}}</p>
                      <p class="jinja-text">{{member.middle_name}}</p>
                      <p class="jinja-text">{{member.gender}}</p>
                      <p class="jinja-text">{{member.marital_status}}</p>
                      <p class="jinja-text">{{member.date_of_birth}}</p>
                      <p class="jinja-text">{{member.hometown}}</p>
                      <p class="jinja-text">{{member.type_id}}</p>
                      <p class="jinja-text">{{member.id_No}}</p>
                      <p class="jinja-text">{{member.education_level}}</p>
                      <p class="jinja-text">{{member.postal_address}}</p>
                      <p class="jinja-text">+233 (0) {{member.phone_No}}</p>
                      <p class="jinja-text">{{member.spouse_name}}</p>
                      <p class="jinja-text">{{member.next_of_kin}}</p>
                      <p class="jinja-text">{{member.family_size}}</p>
                      <p class="jinja-text">{{member.number_of_partner}}</p>
                      <p class="jinja-text">{{member.number_of_farms}}</p>
                      <p class="jinja-text">{{member.farm_location1}}</p>
                      <p class="jinja-text">{{member.years_in_farming}}</p>
                      <p class="jinja-text">{{member.business_before_farming}}</p>
                      <p class="jinja-text">{{member.supporting_business}}</p>
                      <p class="jinja-text">{{member.number_of_labourers}}</p>
                      <p class="jinja-text">{{member.farm_owner1}}</p>
                      <p class="jinja-text">{{member.average_yield}}</p>
                      <p class="jinja-text">{{member.benefit_from_farm}}</p>
                      <p class="jinja-text">{{member.buyer_of_produce}}</p>
                      <p class="jinja-text">{{member.benefit_from_buyer}}</p>
                      <p class="jinja-text">{{member.bank_transacting_with}}</p>
                      <p class="jinja-text">{{member.how_long}}</p>
                      <p class="jinja-text">{{member.any_financial_association}}</p>
                      <p class="jinja-text">{{member.part_of_financial_institution}}</p>
                    </div>
              </div>
            </div>
          </div>

      </div>
                
 <!-----------------------------------------REPORT FORMS-------------------------------------->     
<hr style="margin-left:10px; margin-right: 10px; background-color:red; opacity: 25%;">
    <div class="row">
      <div class="report-form">
          <h6 class="writes">Please fill the forms below to report an issue with your 
            <br>details for it to be rectified. Thank you!!!</h6>
          <form method="POST">
            <textarea type="text" name="reports" id="reports" style="width:520px; height:120px;"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

      <div class="vl"></div>
      <div style="overflow:scroll">
        <section>
          <h6 style=" color:green; font-family: Raleway;">UP COMING EVENTS</h6>
          <div class="list-events" style="width:530px; height:270px">
              {% for event in events %}

                <li><a href="#">{{event.head}}</a></li>
                <li style="color:black;font-size:15px; font-family: poppin; list-style:circle;margin-left: 5px; font-style: italic;">{{event.textarea}}</li>
                <div class="row">
                  <label style="margin-left:20px;opacity:50% ; color:red; font-family:Times;font-size:15px;">DATE: {{event.date}}<span style="margin-left:220px;">TIME: {{event.time}} prompt</span></label>
                </div>
                <hr>
              {% endfor %}
          </div>
        </section>
    </div>
<br/>
</div>
{% endblock %}
