{% extends "main/admin_base.html"%}
{% load static %}
{% block title%} Profile | Administrator {% endblock%}
{% block admin %}
<section class="">
    <div class="p-4 mt-20">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laboriosam doloribus praesentium, eum delectus saepe obcaecati minima doloremque quos quisquam! Magnam aspernatur accusamus labore distinctio et, quod omnis. Tempore, voluptate?</h1>
        <div class="mt-10">
            <div class="flex justify-end flex-row gap-7">
                <button><a href="#" class="p-4 rounded bg-black w-32 text-center text-white hover:bg-gray-600">Edit Profile</a></button>

                <button><a href="#" class="p-4 rounded bg-black w-32 text-center text-white hover:bg-gray-600">Print a copy </a></button>
                <button><a href="#" class="p-4 rounded bg-black w-32 text-center text-white hover:bg-gray-600">Edit Profile</a></button>
                <button><a href="#" class="p-4 rounded bg-red-700 w-32 text-center text-white hover:bg-gray-600">Delete Profile</a></button>
            </div>
            <hr class="mt-5">
            <div class="ml-10">
                <div class="mt-5 p-4 rounded w-full">
                    <center>
                    <div class="">
                        <div class="">
                            <img src="{% static 'workimg/imgs/gard.jpg'%}" class="h-32 w-32 rounded-full" style="width: 10%;" alt="profile pic">
                        </div>
                        <div class="mt-5 bg-green-400">
                            <h1 class="text-2xl"><span class="text-green-700">Staff ID -</span>{{staffy.staff_id}}</h1>
                        </div>
                    </div>
                    </center>
                    
                    <br>
                    <div class="p-8 ml-20 mr-20 rounded border">
                        <div class="mb-5"> 
                            <label for="title"><span class="text-green-700">Title:</span><br>{{staffy.title}}</label>
                        </div>
                        <div class="grid grid-cols-3 gap-20 text-2xl ml-20 mr-20">
                            <div class="">
                                <div>
                                    <label for="" class="text-green-700 text-xl">Full Name: </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.firstName}} {{staffy.middleName}} {{lastName}}">
                                </div>
                                <br>
                                <div>
                                    <label for="" class="text-green-700 text-xl">Gender: </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.gender}}">
                                </div>

                                <br>
                                <div>
                                    <label for="" class="text-green-700 text-xl">Email: </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.email}}">
                                </div>
                            </div>
                            <div class="">
                                <div>
                                    <label for="" class="text-green-700 text-xl">Address </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.address}}">
                                </div>
                                <br>
                                <div>
                                    <label for="" class="text-green-700 text-xl">Telephone: </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.telephone}}">
                                </div>

                                <br>
                                <div>
                                    <label for="" class="text-green-700 text-xl">Password: </label><br>
                                    <input type="password" class="rounded border-none" disabled value="{{staffy.password}}">
                                </div>
                            </div>
                            <div class="">
                                <div>
                                    <label for="" class="text-green-700 text-xl">Position </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.position}}">
                                </div>
                                <br>
                                <div>
                                    <label for="" class="text-green-700 text-xl">Department </label><br>
                                    <input type="text" class="rounded border-none" disabled value="{{staffy.department}}">
                                </div>
                            </div>
                        </div>
                        <br>
                        <fieldset class="border rounded p-5">
                            <legend>Emergency Contact Persom</legend>
                            <div class=" flex flex-wrap gap-20 text-lg">
                                <label for="title"><span class="text-green-700">
                                    Full Name: </span><br> {{staffy.day}} {{staffy.month}} {{staffy.year}}</label><br>

                                <label for="title"><span class="text-green-700">Relationship: </span><br> {{staffy.relationship}} </label><br>

                                <label for="title"><span class="text-green-700">Email: </span><br> {{staffy.email}} </label><br>

                                <label for="title"><span class="text-green-700">Telephone: </span><br> {{staffy.telephone}} </label><br>

                            </div> 
                        </fieldset>
                    </div>
                    <br>
                    <div class="p-5 bg-green-400">
                        <center>
                            
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}