{% extends "base.html"%}
{% load static %}
{% block title%} Administrator - Dashboard {% endblock%}
{% block content%}
<section class="bg-white">
    <br><br><br>
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <div class="">
        <div class="topnav p-2 shadow-xl flex flex-row justify-between">
            <div class="brand text-3xl font-bold mt-7 ml-10 text-green-700 ">GNACOFA.</div>
            <div class="mt-5">
                <form action="" method="POST">
                    <input type="search" class="p-1 rounded-lg" placeholder="search stuff here">
                    <button type="submit" class="p-2 w-24 text-white rounded bg-gray-800 hover:bg-gray-900">Search</button>
                </form>
            </div>
            <div class="mr-10 flex flex-row">
                <img src="{{user.profile.staff_image.url}}" class="w-16 h-16 rounded-full" width="10%" alt="">
            </div>
        </div>
        <div class="flex flex-row gap-2">
            <div class="side-bar bg-green-800 w-64 ">
                <div class="mt-5 mb-2">
                    <center>
                        <div>
                            <img src="{{user.profile.staff_image.url}}" class="w-24  h-24 rounded-full" width="10%" alt="">
                        </div>
                        <label for="" class="mt-5 ">Name:</label><br>
                        <label for="" class="text-xl font-bold text-white">{{user.first_name}} {{user.last_name}}</label>
                    </center>
                </div>
                <hr>
                <div class=" hover:bg-white">
                    <center class="p-2">
                        <a href="{% url 'admin-dashboard'%}">
                            <button class="text-center text-white hover:text-green-500"><i class="fa-solid fa-list-check text-3xl"></i><br> Dashboard</button>
                        </a>
                    </center>
                </div>
                <hr>
                <hr>
                <div class="hover:bg-white">
                    <center class="p-2">
                        <a href="{% url 'staff' %}">
                            <button class="text-center text-white hover:text-green-500"><i class="fa-solid fa-clipboard-user  text-3xl"></i><br> Staff Management</button>
                        </a>
                    </center>
                </div>
                <hr>
                <div class="hover:bg-white">
                    <a href="{% url 'admin-member-dash' %}">
                        <center class="p-2">
                            <button class="text-center text-white hover:text-green-500"><i class="fa-solid fa-people-roof text-3xl text-center"></i><br> Member Management</button>
                        </center>
                    </a>
                </div>
                <hr>
                <div class="hover:bg-white">
                    <center class="p-2">
                        <a href="#">
                            <button class="text-center text-white hover:text-green-500"><i class="fa-solid fa-clipboard-user  text-3xl"></i><br> Dues Management</button>
                        </a>
                    </center>
                </div>
                <hr>
                <div class="hover:bg-white">
                    <center class="p-2">
                        <a href="#">
                            <button class="text-center text-white hover:text-green-500"><i class="fa-solid fa-clipboard-user  text-3xl"></i><br> Loan Management</button>
                        </a>
                    </center>
                </div>
                <hr>
            </div>
            <div class="">
                <div class="mt-10">
                    <div class="">{% block admin-page %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
    {%else%}
        <div class="">
            <div class="mt-10">
                <center>
                    <h1 class="text-3xl font-bold text-green-500">Management Catelog Page for Secreatary use Only</h1>
                </center>
            </div>
            <div class="p-5 mt-5 ">
                <div class="grid grid-cols-3 gap-4 ">
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-roof mr-3 "></i></i>Staff</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Dues Management</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Loan Managment</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                    <a href="{% url 'mem-dash'%}">
                        <button class="rounded p-5 w-full h-full text-4xl font-bold shadow-lg hover:bg-green-400 bg-green-600"><i class="fa-solid fa-people-group mr-3"></i>Members Page</button>
                    </a>
                </div>
            </div>
        </div>
    {% endif%}
</section>
{%endblock%}