{% extends "base.html"%}
{% load static %}
{% block title%} Administrator {% endblock%}
{% block content%}
<section class="bg-white">
    <div class="h-full">
        <div class="flex flex-row">
            <div class="w-80 bg-white shadow-lg">
                <br><br><br><br>
                <div align="center" class="justify-center">
                    <img src="{% static 'workimg/imgs/logo2.png'%}" style="width: 80px;"/>
                    <div class="p-2  w-full">
                        <h1 class="flex justify-center items-center font-Tomatoes text-red-900 font-extrabold text-lg">Gnacofa Administrator Panel</h1>
                    </div> 
                </div>
                
                <div class="p-2 bg-black">
                    <div class="flex flex-row">
                        <div align="center" class="w-24">
                            <img src="{% static 'workimg/imgs/gard.jpg'%}" class="rounded-full mr-4" width="80%" alt="">
                        </div>
                        <div>
                            <p class="text-base text-gray-300"> Welcome </p>
                            <label for="name" class="font-bold text-lg text-white">Ernest Aviani</label>
                            <p class="text-base text-gray-300 flex justify-center"> Position: {Admin} </p>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <label class="text-center font-bold">Navigation</label>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-black hover:text-white hover:bg-gray-600 shadow-lg font-bold font-avalea text-white text-bold"><a href="{% url 'administrator' %}">Dashboard</a></button>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="{% url 'staff' %}">Staffs</a> </button>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="{% url 'member-view'%}">Members Details</a></button>
                </div>
                
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="{% url 'dues'%}">Dues</a> </button>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="#">Loan Management</a> </button>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="#">Other Branches</a> </button>
                </div>
                <div class="mt-1">
                    <button class="p-2 w-full bg-green-500 hover:text-white hover:bg-green-800 shadow-lg font-bold font-avalea text-black text-bold"><a href="#">Salaries</a> </button>
                </div>
                
                <div class="mt-10">
                    <button class="p-2 w-full bg-green-500 hover:bg-green-800 hover:text-white font-bold shadow-lg text-center text-black"><a href="#">Logout</a></button>
                </div>
            </div>
            <div class="h-full border border-black ml-2 mr-2"></div>
            <div class="mt-20 h-full w-full">{% block admin %}{% endblock %}</div>
        </div>
    </div>
</section>
{%endblock%}