{% extends "main/admin_base.html"%}
{% load crispy_forms_tags %}
{% load static %}
{% block title%} Delete Staff {% endblock%}
{% block admin-page %}
<section class="bg-white p-4">
  <br><br><br><br>
  <div class="min-h-screen bg-gray-100 flex flex-col justify-center">
        <div class="max-w-md w-full mx-auto">
            <div class="max-w-md w-full  shadow-lg mx-auto mt-4 bg-white rounded-md p-8 border border-gray-300">
                <form action="" class="space-y-6" method="POST">
                    {% csrf_token %}
                    <div class="">
                        <label class="font-bold text-xl text-gray-600 block">Are you sure you want to delete this Staff:</label>
                    </div>
                    <div class="flex flex-row gap-5">
                      <div class="flex justify-center">
                        <a href="{% url 'staff'%}" class="w-full py-2 px-4 bg-gray-600 hover:bg-gray-400 rounded border border-gray-300 p-2 text-white">No, Cancel</a>
                    </div>
                    <div class="flex justify-center">
                        <button type='submit' class="w-full py-2 px-4 bg-red-600 hover:bg-red-800 rounded border border-gray-300 p-2 text-white">Yes, Delete</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}